{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=idge">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Open+Sans|Satisfy&display=swap&subset=cyrillic" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"
        type="image/x-icon"> 
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet"
        href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/main.js' %}" async></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <script src="https://yastatic.net/browser-updater/v1/script.js"
          charset="utf-8"></script>
  <script>
      var yaBrowserUpdater = new ya.browserUpdater.init(
      {
          "lang":"ru",
          "browsers":
          {
              "yabrowser":"16.12",
              "chrome":"57",
              "ie":"11",
              "opera":"43",
              "safari":"10.2",
              "fx":"53",
              "iron":"35",
              "flock":"Infinity",
              "palemoon":"25",
              "camino":"Infinity",
              "maxthon":"4.5",
              "seamonkey":"2.3"
          },
          "theme":"yellow"
      });
  </script>
  <!--[if lte IE 9]>
    <style>
      main {
        display: block;
        min-height: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
      nav.bottom_header ul.nav_links {
        padding-bottom: 10px;
      }
      .card_image_container {
        padding-top: 27%;
      }

      @media all and (max-width: 600px) {
        body {
          overflow-x: hidden;
        }
        .top_header, nav.bottom_header ul.nav_links {
          display: block;
        }
      }

      @media all and (max-width: 420px) {
        .card_image_container {
          padding-top: 100%;
        }
        .card_list_wrapper {
          grid-gap: 0;
        }
      }
    </style>
  <![endif]-->

  <div class="wrapper" id="base_wrapper">
    <div class="header__contacts">
      <nav class="header__contacts-nav-container">
          <p class="header__contacts-container-li">телефон: <span class="header__contacts-span">8-916-245-22-22</span></p>
          <p class="header__contacts-container-li">email: <span class="header__contacts-span">aist@yandex.ru</span></p>
          <div class="item_nav">
              {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                  <a href="{% url 'cart:cart_detail' %}">
                    <i class="fa fa-shopping-cart icons" aria-hidden="true"></i>
                    Корзина:
                    {{ total_items }} тов.
                    <span class="cart_price">{{ cart.get_total_price }} руб.</span>
                  </a>
                {% else %}
                  <a href="{% url 'cart:cart_detail' %}">
                    <i class="fa fa-shopping-cart icons" aria-hidden="true"></i>
                    Корзина пуста
                  </a>
                {% endif %}
              {% endwith %}
          </div>
      </nav>
    </div>
    <header id="header" class="header">
      <!--<span id="menu_header">
        <div class="header__menu-icon"></div>
      </span>-->

      <a id="logo" class="logo" href="{% url 'lenivastore:index' %}">  <!--?next={{request.path}}--> 
        <div class="header__logo"></div>
        <p class="header__logo-text">А.И.С.Т.</p>
      </a>

<!--<div id="search">
            <form action="{% url 'lenivastore:product_list' %}">
              <input type="search" placeholder="Поиск" aria-label="Search"
                     name="search">
              <button type="submit">
                Искать
              </button>
            </form>
          </div>-->

        <nav>
          <ul class="header__link-container">
            <li class="header__link">
              <a class="header__link" 
                href="{% if request.path == '/' %} #about {% else %} /#about {% endif %}">
                  О компании
              </a>
            </li>
            <li class="header__link">
              <a class="header__link" 
                href="{% url 'lenivastore:product_list_by_category' 'oborudovanie'%}">
                  Торговое оборудование
              </a>
            </li>
            <li class="header__link">
              <a class="header__link" 
                href="{% url 'lenivastore:product_list_by_category' 'uslugi' %}">
                  Услуги
              </a>
            </li>
            <li class="header__link">
              <a class="header__link" 
                href="{% if request.path == '/' %} #news {% else %} /#news {% endif %}">
                  Новости ФНС и маркировки
              </a>
            </li>
          </ul>
        </nav>






        <!--    <li class="item_nav" id="cat_nav">
              <a href="#">
                <i class="fa fa-list-ul icons" aria-hidden="true"></i>
                1C
              </a>
              <ul class="dropdown_menu">
                <li {% if not category %} class="selected" {% endif %}>
                  <a href="{% url 'lenivastore:product_list' %}">Все</a>
                </li>
                {% for cat in categories %}
                  <li>
                    <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
            
            <li class="item_nav">
              {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                  <a href="{% url 'cart:cart_detail' %}">
                    <i class="fa fa-shopping-cart icons" aria-hidden="true"></i>
                    Корзина:
                    {{ total_items }} тов.
                    <span class="cart_price">{{ cart.get_total_price }} руб.</span>
                  </a>
                {% else %}
                  <a href="{% url 'cart:cart_detail' %}">
                    <i class="fa fa-shopping-cart icons" aria-hidden="true"></i>
                    Корзина пуста
                  </a>
                {% endif %}
              {% endwith %}
            </li>-->


      <!--  <div class="header__into-container">
          <a class="header__int-link" href="{% url 'login' %}">
            <p>Войти</p>
          </a>
        </div>
-->



<!--
        <ul class="nav_links_right">
          {% if user.is_authenticated %}
            <li id="profile_link">
              <a href="{% url 'users:profile' %}?next={{request.path}}">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                Профиль
              </a>
            </li>
            <li id="logout_link">
              <a href="{% url 'logout' %}">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Выход
              </a>
            </li>
          {% else %}
            <li>
              <a class="color_black" href="{% url 'login' %}">
                <i class="fa fa-sign-in icons" aria-hidden="true"></i>
                Войти
              </a>
            </li>
            <li>
              <a class="color_black" href="{% url 'users:register' %}">
                <i class="fa fa-user-plus icons" aria-hidden="true"></i>
                Регистрация
              </a>
            </li>
          {% endif %}
          </ul>-->
    </header>

    <aside></aside>
    <main>
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </main>
    <div class="sidebar"></div>
    <footer id="footer" class="footer">
      <h3 class="footer__title">Контакты:</h3>
    <div class="footer__container">
      <p class="footer__name">ООО "Аист"</p>
      <p class="footer__adress">Адрес головного офиса: пр-т. Энгельса, 73, Санкт-Петербург, Россия, 194214</p>  
      <p class="footer__tel">+7 495 99 405 89</p>
      <p class="footer__mail">info@aist.ru</p>
    </div>
    <div class="footer__logo"></div>
    </footer>
  </div>
</body>
</html>
