{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=idge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
<!--  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Open+Sans|Satisfy&display=swap&subset=cyrillic" rel="stylesheet">-->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"
        type="image/x-icon"> 
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet"
        href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="../../../static/css/style.css"><!--styles.css-->
  <script src="{% static 'js/main.js' %}" async></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <script src="https://yastatic.net/browser-updater/v1/script.js"
          charset="utf-8"></script>
  <script>
      var yaBrowserUpdater = new ya.browserUpdater.init(
      {
          "lang":"ru",
          "browsers":
          {
              "yabrowser":"16.12",
              "chrome":"57",
              "ie":"11",
              "opera":"43",
              "safari":"10.2",
              "fx":"53",
              "iron":"35",
              "flock":"Infinity",
              "palemoon":"25",
              "camino":"Infinity",
              "maxthon":"4.5",
              "seamonkey":"2.3"
          },
          "theme":"yellow"
      });
  </script>
  <!--[if lte IE 9]>
    <style>
      main {
        display: block;
        min-height: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
      nav.bottom_header ul.nav_links {
        padding-bottom: 10px;
      }
      .card_image_container {
        padding-top: 27%;
      }

      @media all and (max-width: 600px) {
        body {
          overflow-x: hidden;
        }
        .top_header, nav.bottom_header ul.nav_links {
          display: block;
        }
      }

      @media all and (max-width: 420px) {
        .card_image_container {
          padding-top: 100%;
        }
        .card_list_wrapper {
          grid-gap: 0;
        }
      }
    </style>
  <![endif]-->

  <div class="wrapper" id="base_wrapper">
    <header id="header" class="header">
    <!--  <div class="header__menu">-->

      <div class="header__logo-and-wrapper">

        <a id="logo" class="logo" href="{% url 'lenivastore:index' %}">  <!--?next={{request.path}}--> 
          <div class="header__logo"></div>
          <p class="header__logo-text">А.И.С.Т.</p>
        </a>

      
        <div class="header__contacts">

          <div class="header__contacts-btn-container">
            <p class="header__contacts-btn"><span class="header__contacts-btn-span">Контакты:</span> <span>+7(962)440-07-40</span></p>
            <a class="header__contacts-btn" href="mailto:support@it-aist.ru"><span class="header__contacts-btn-span">Email:</span> <span>support@it-aist.ru</span></a>
          </div>
<!--
          <div class="header__contacts-nav-container">
            <p class="header__contacts-container-li">Контакты: <span class="header__contacts-span">+7(962)440-07-40</span></p>
            <p class="header__contacts-container-li"><span class="header__contacts-span">+7(8652)40-07-40</span></p>
            <a class="header__contacts-container-li header__contacts-container-li-mail" href="mailto:support@it-aist.ru">email:<span class="header__contacts-span">support@it-aist.ru</span></a>
          </div>-->

          <div>
          {% with total_items=cart|length %}
            {% if cart|length > 0 %}
              <a class="header__contacts-nav-bin" href="{% url 'cart:cart_detail' %}">
                <div class="fa fa-shopping-cart icons header__icon-marg" aria-hidden="true"></div>
                Корзина:
                {{ total_items }} тов.
                <!--<span class="cart_price">{{ cart.get_total_price }} руб.</span>-->
              </a>
            {% else %}
              <a class="header__contacts-nav-bin" href="{% url 'cart:cart_detail' %}">
                <div class="fa fa-shopping-cart icons header__icon-marg" aria-hidden="true"></div>
                Корзина пуста
              </a>
            {% endif %}
          {% endwith %}
          </div>
        </div>
      </div>
      
      <nav>
          <ul class="header__link-container">
            <li class="header__link">
              <a class="header__link" 
                href="{% if request.path == '/' %} #about {% else %} /#about {% endif %}">
                  О компании
              </a>
            </li>
            <li class="header__link">
              <a class="header__link" 
                href="{% url 'lenivastore:product_list_by_category' 'oborudovanie'%}">
                  Торговое оборудование
              </a>
            </li>
            <li class="header__link">
              <a class="header__link" 
                href="{% url 'lenivastore:product_list_by_category' 'uslugi' %}">
                  Услуги
              </a>
            </li>
            <li class="header__link">
              <a class="header__link" 
                href="{% if request.path == '/' %} #news {% else %} /#news {% endif %}">
                  Новости ФНС и маркировки
              </a>
            </li>
          </ul>
        </nav>
    </header>

    <aside></aside>
    <main>
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </main>

    <div class="sidebar"></div>

    <footer id="footer" class="footer">
      <h3 class="footer__title">Контакты:</h3>
    <div class="footer__container">
      <!--<p class="footer__name">ООО "Аист"</p>-->
      <p class="footer__name">Группа компаний А.И.С.Т.</p>  
      <p class="footer__tel">+7(962)440-07-40</p>
      <p class="footer__tel">+7(8652)40-07-40</p>
      <p class="footer__mail">support@it-aist.ru</p>
      <p class="footer__adress">Адрес головного офиса: пр-т. Энгельса, 73, Санкт-Петербург, Россия, 194214</p> 
    </div>
    <div class="footer__logo"></div>
    </footer>
  </div>
</body>
</html>
