{% extends "lenivastore/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Ваша корзина товаров
{% endblock %}
<!--
{{ product.name }}



-->
{% block content %}
<div class="detail-bin">  
  {% if cart.get_total_price_after_discount %}
  
    <h3 class="detail-bin__title">Ваша корзина товаров</h3>

    <div class="detail-bin__carts">
      {% for item in cart %}
        {% with product=item.product %}
          <div class="detail-bin__card-item">
            
              <div class="detail-bin-cart__img-container">
                <a class="detail-bin-cart__img-link" href="{{ product.get_absolute_url }}">
                  <img class="detail-bin-cart__img"
                    src="{{ product.image.url }}" alt="" />
                </a>
              </div>

              <div class="detail-bin-cart__info-container">
                <h3 class="detail-bin-cart__title">{{ product.name }}</h3>

              <div class="detail-bin-cart__price-container">
         
                  <p class="detail-bin-cart__price">{{ item.total_price }} руб.</p>
              
                
                  <form action="{% url 'cart:cart_add' product.id %}" 
                        method="post"
                        class="add">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    {% csrf_token %}
                    <input class="detail-bin-cart__refresh" type="submit" value="Обновить" alt="Обновить">
                  </form>
                
              </div>

              </div>

              <a class="detail-bin-cart__delete-btn-container" href="{% url 'cart:cart_remove' product.id %}">
                <i class="detail-bin-cart__delete-btn" aria-hidden="true"></i>
              </a>

          </div>
        {% endwith %}
      {% endfor %}
<!--    {% if cart.cupon and cart.cupon.active and cart.cupon.valid_to %}
        <span class="cart_sums">
          <p>Сумма без скидки </p>
          <p>{{ cart.get_total_price }} руб.</p>
        </span>
        <span class="cart_sums">
          <p>Купон на {{ cart.cupon.discount }} % ниже </p>
          <p>-{{ cart.get_discount|floatformat:"2" }} руб.</p>
        </span>
      {% endif %}-->
      <span class="cart_sums">
        <p>Всего </p>
        <p>{{ cart.get_total_price_after_discount|floatformat:"2" }} руб.</p>
      </span>
    </div>
    <!--<input type="checkbox" id="cupon_hide" class="hide_button"/>
    <label class="button_base" for="cupon_hide" >Применить купон</label>
    <div class="content-section cupon_section">
      <form action="{% url 'cupon:apply' %}" method="post" class="add">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend>Купон</legend>
   ////////был комментарий{{ cupon_apply_form|join:"" }} ////////был комментарий
          {{ cupon_apply_form|crispy }}
        </fieldset>
        <div class="form-group button_section">
          <input class="button_base blue_button" type="submit" value="Применить">
        </div>
      </form>
    </div>-->
  {% else %}
    <h3 class="detail-bin__title">Ваша корзина пуста</h3>

  {% endif %}
    <div class="detail-bin__btn-container">
      <a class="detail-bin__btn" href="{% url 'lenivastore:product_list'%}" class="button_base blue_button">
        Продолжить Шопинг
      </a>
      {% if cart.get_total_price %}
        <a class="detail-bin__btn detail-bin__btn-checkout" href="{% url 'orders:order_create' %}" class="button_base blue_button">
          Оформить заказ
        </a>
      {% endif %}
    </div>
</div>  
{% endblock %}
