@import url(./blocks/header.css);
@import url(./blocks/footer.css);
@import url(./blocks/about.css);
@import url(./blocks/services.css);
@import url(./blocks/news.css);
@import url(./blocks/equipment.css);
@import url(./blocks/backform.css);
@import url(./blocks/login.css);

body {
  font-family: 'Open Sans', sans-serif;
  color: #212529; 
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #212529;
}

fieldset {
  border-width: 1px;
  border-color: #457dc6;
}
