{% extends "lenivastore/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
  <div class="create-order">
    <h2 class="create-order__title">Оформление заказа</h2>
  <div class="create-order__mail-container">  
    <form class="create-order__form" action="." method="post">
      {% csrf_token %}
      <fieldset class="create-order__fieldset">
        <h3>Заполните форму</h3>
        {{ form|crispy }}
      </fieldset>
      <div class="create-order__btn">
        <input class="create-order__btn-inside" type="submit" value="Подтвердить">
      </div>
    </form>

    <div class="control_group">
      <h2>Ваш заказ</h2>
      <ul class="products_margin">
        {% for item in cart  %}
          <li>
            {{ item.product.name }} | Количество: {{ item.quantity }} | Цена:
            {{ item.total_price }}
          </li>
        {% endfor %}
        {% if cart.cupon %}
          <li>
            Сумма без скидки:
            <span>  {{ cart.get_total_price }}руб.</span>
          </li>
          <li>
            "{{ cart.cupon.code }}" (на {{ cart.cupon.discount }}% меньше)
            <span> - {{ cart.get_discount|floatformat:"2"}} руб.</span>
          </li>
        {% endif %}
      </ul>
      <p>
        <strong>Всего:</strong>
        {{ cart.get_total_price_after_discount|floatformat:"2"}} руб.
      </p>
    </div>
  </div>  
  </div>
{% endblock %}
