{% extends "lenivastore/base.html" %}

{% block title %}Заказ принят в обработку{% endblock %}

{% block content %}
  <div class="order-created-massage">
    
    <h2 class="order-created-massage__title">Заказ принят в обработку</h2>
    <h3 class="order-created-massage__sub-title">Благодарим вас за заказ!</h3>
    <div class="order-created-massage__wrapper">
    <p class="order-created-massage__numder">
      Номер заказа: <b>{{ order.id }}</b> <br>
    </p>
    
      <h3 class="order-created-massage__sub-title">Покупатель</h3>

      <ul class="order-created-massage__info-ul">
        <li class="order-created-massage__info-li">{{ order.first_name }} {{ order.last_name }}</li>
        <li class="order-created-massage__info-li">, {{ order.phone_order }}</li>
        <li class="order-created-massage__info-li">, {{ order.email }}</li>
      </ul>
    
      <h3 class="order-created-massage__sub-title">Заказанные товары</h3>
      <ul class="order-created-massage__ul">
        {% for item in order.items.all %}
        <li class="order-created-massage__li">
          <p>{{ item.product.name }}</p>
          <p>{{ item.quantity }} шт.</p>
        </li>
        {% endfor %}
      </ul>
    <p>
      <strong>Итого: </strong>
      {{ order.get_total_cost|floatformat:"0" }} руб.
    </p>
  </div>
</div>
{% endblock %}
