.about {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.about__title {
    margin: auto;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 56px;
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    .about__title  {
        font-size: 42px;
        font-weight: 500;
    }
}

.about__members-title {
    color: black;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    line-height: 1.15;
    font-size: 56px;
    font-weight: 400;
    max-width: 1600px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .about__members-title  {
        font-size: 42px;
        font-weight: 500;
    }
}

@media screen and (max-width: 450px) {
    .about__members-title  {
        font-size: 38px;
        font-weight: 500;
    }
}

@media screen and (max-width: 400px) {
    .about__members-title  {
        font-size: 34px;
        font-weight: 500;
    }
}

@media screen and (max-width: 360px) {
    .about__members-title  {
        font-size: 30px;
        font-weight: 400;
    }
}

.about__name-company {
    margin-left: 50px;
}

.about__text-container {
    padding: 0;
    display: flex;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    /*max-width: 1000px;*/
}

@media screen and (max-width: 1000px) {
    .about__text-container   {
       flex-direction: column;

    }
}

@media screen and (max-width: 400px) {
    .about__text-container   {
        margin-left: 15px;
        margin-right: 15px;

    }
}

@media screen and (max-width: 350px) {
    .about__text-container   {
        margin-left: 10px;
        margin-right: 10px;

    }
}

.about__text {
    line-height: 34px;
    font-size: 24px;
    margin: 0;
    justify-content: center;
    align-self: center;
}

@media screen and (max-width: 420px) {
    .about__text   {
        line-height: 30px;
        font-size: 20px;
    }
}

.about__sub-title-container {
    padding: 0;
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 1000px;
}

.about__about-img {
    width: 460px;
    height: 450px;
    margin-right: 50px;
}

@media screen and (max-width: 1000px) {
    .about__about-img  {
       margin-bottom: 30px;
       margin-right: 0;
       width: 360px;
       height: 360px;
    }
}

@media screen and (max-width: 450px) {
    .about__about-img  {
       width: 300px;
       height: 300px;
    }
}

.cards {
    max-width: 920px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media screen and (max-width: 800px) {
    .cards  {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

  .cards__description {
    margin-top: 16px;
    margin-bottom: 0;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  }

  .cards__image {
    border-radius: 50%;
    /*width: 160px;
    height: 160px;*/
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
   
  }

  .cards__item {
    margin-right: 100px;
    width: 240px;
    list-style-type: none;
  }
  
  .cards__item:nth-of-type(3n) {
    margin-right: 0;
  }

  @media screen and (max-width: 800px) {
    .cards__item  {
        margin: auto;
        width: 300px;
    }
}

  .cards__title {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0;
  }

.about-quote {
   border-radius: 50px;
   background-color: #fff;
} 