.backform {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;

}

.backform__form {
  display: flex;
  margin: auto;
  flex-direction: column;
  border-radius: 20px;
  
  max-width: 500px;
}

.backform__input {
    width: 100%;
    border: 2px solid orange;
}