.detail-bin {
    background-color: #f2f2f2;
}

.detail-bin-cart__img-container {
    width: 300px;
    height: 300px;
    border: 2px solid blueviolet;
    
}

.detail-bin-cart__img {
    width: 300px;
    height: 300px;
}

.detail-bin__carts {
    margin: 150px;
    max-width: 100%;
    border: 2px solid orchid;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width: 800px) {
    .detail-bin__carts  {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 600px) {
    .detail-bin__carts  {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.detail-bin__title {
    margin: auto;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .detail-bin__title  {
        font-size: 42px;
        font-weight: 500;
    }
}

.detail-bin__card-item {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid sandybrown;
}