.footer {
    background-color: #212529;
    color: #666666;
    /*margin-left: 50px;*/
}

.footer__title {
    margin-left: 50px;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
    line-height: 1;
    font-size: 50px;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    .footer__title  {
        font-size: 42px;
        font-weight: 500;
    }
}

@media screen and (max-width: 500px) {
    .footer__title  {
        margin-left: 10px;
    }
}

.footer__container {
   margin-left: 50px;
   padding-bottom: 50px;
}

@media screen and (max-width: 500px) {
    .footer__container  {
        margin-left: 10px;
    }
}

.footer__name {

}
.footer__adress {

}  
.footer__tel {

}
.footer__mail {

}