.footer {
    background-color: #212529;
    color: #666666;
    position: relative;
    padding-top: 50px;
    /*margin-left: 50px;*/
}

.footer__title {
    margin-left: 50px;
    
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
    line-height: 1;
    font-size: 50px;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    .footer__title  {
        font-size: 42px;
        font-weight: 500;
    }
}

@media screen and (max-width: 500px) {
    .footer__title  {
        margin-left: 10px;
    }
}

.footer__container {
   margin-left: 50px;
   padding-bottom: 50px;
}

@media screen and (max-width: 500px) {
    .footer__container  {
        margin-left: 10px;
    }
}

.footer__name {

}
.footer__adress {

}  
.footer__tel {

}
.footer__mail {

}

.footer__logo {
    background-image: url(../../../static/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 300px;
    height: 300px;

    border-radius: 50%;
    border: 4px solid #f8dc80;

    position: absolute;
    top: 50px;
    right: 70px;

}

.footer__logo:hover {
    border: 4px solid rgb(247, 194, 20);
}

@media screen and (max-width: 970px) {
    .footer__logo  {
        top: 30px;
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 650px) {
    .footer__logo  {
        right: 10px;
    }
}

@media screen and (max-width: 550px) {
    .footer__logo  {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 415px) {
    .footer__logo  {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 380px) {
    .footer__logo  {
        width: 70px;
        height: 70px;
        top: 20px;
        right: 20px;
    }
}