.header {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-color: #f2f2f2;
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    z-index: 15;
    top: 0px;
}

@media screen and (max-width: 600px) {
    .header  {
        padding-top: 0;
        padding-bottom: 30px;
    }
}

.header__menu {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20px;
    z-index: 15px;
}

.header__logo-and-wrapper {
    display: flex;
    align-items: center;
}

.header__menu-icon {
    /*background-image: url(../../../staticfiles/images/menuicon.svg);*/
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 30px;
}

.header__link-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 0;
    z-index: 11;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    margin-top: 5px;
    margin-bottom: 0px;
    /*rgb(42, 143, 244)*/
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    
    
}

.header__link {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    cursor: pointer;
    z-index: 11;
    font-size: 20px;
    font-weight: 400;
    transition: all 1s ;
    color: #0c203b;
}

@media screen and (max-width: 600px) {
    .header__link  {
        font-size: 8px;
    }
} 


@media screen and (max-width: 450px) {
    .header__link  {
        font-size: 4px;
    }
}

.header__link:hover {
    color: rgb(247, 194, 20);
    transition: all 1s ;
}

.header__top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    min-height: 500px;
    background-color: #f2f2f2;
}

@media screen and (max-width: 1050px) {
    .header__top-container  {
        min-height: 400px;
        padding-bottom: 0px;
    }
} 

@media screen and (max-width: 500px) {
    .header__top-container  {
        min-height: 300px;
    }
} 

.header__title-container {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    z-index: 10;
    position: relative;
}

@media screen and (max-width: 800px) {
    .header__title-container  {
        max-width: 500px;
    }
} 

@media screen and (max-width: 500px) {
    .header__title-container  {
        margin-left: 0;
    }
} 

.header__dawn-pic {
    position: absolute;
    top:10px;
    right: 10px;
    z-index: 1;
    width: 400px;
    height: 400px;
    background-image: url(../../../static/images/downpic.svg);

}

.header__title {
    color: #292d30;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 54px;
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    .header__title  {
        font-size: 48px; 
    }
}  

@media screen and (max-width: 600px) {
    .header__title  {
        font-size: 40px;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .header__title  {
        margin-left: 15px;
        font-size: 36px;
    }
}

@media screen and (max-width: 450px) {
    .header__title  {
        font-size: 34px;
    }
}

.header__title-span {
    color: rgb(149, 149, 149);
    cursor: pointer;
}

.header__btn-container {
    display: flex;
    justify-content: space-between;
    max-width: 520px;
}

.header__button {
    width: 250px;
    height: 60px;
    background-color: #f5d363;
    border: 1px solid rgb(252, 194, 3);
    border-radius: 40px;
    color: #212529;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1s ease-out;
    font-size: 18px;
    font-weight: 400;
    /*-webkit-box-shadow: 0px 2px 11px 8px rgba(34, 60, 80, 0.23);
    -moz-box-shadow: 0px 2px 11px 8px rgba(34, 60, 80, 0.23);
    box-shadow: 0px 2px 11px 8px rgba(34, 60, 80, 0.23);*/
}

@media screen and (max-width: 800px) {
    .header__button {
        width: 200px;
        height: 50px;
        font-size: 18px;
        margin-right: 30px;
        margin-top: 200px;
    }
}

@media screen and (max-width: 600px) {
    .header__button {
        width: 200px;
        height: 50px;
        font-size: 18px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 430px) {
    .header__button {
        /*margin-bottom: 50px;
        margin-top: 0;*/
        width: 150px;
        height: 50px;
        font-size: 14px;
        margin-right: 20px;
    }
}

.header__button:hover {
    background-color: rgb(247, 194, 20);
    border: 1px solid #f8dc80;
    -webkit-box-shadow: 0px 2px 11px 8px rgba(34, 60, 80, 0.23);
    -moz-box-shadow: 0px 2px 11px 8px rgba(34, 60, 80, 0.23);
    box-shadow: 0px 2px 11px 8px rgba(34, 60, 80, 0.23);
    transition: all 1s ;
   /* font-size: 20px;*/
}

.logo {
    display: flex;
    align-items: center;
    /*height: 100px;*/
    height: 80px;
    width: 180px;
}

.header__logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    background-image: url(../../images/logo.png);
    border: 2px solid #f8dc80;
    /*width: 100px;
    height: 100px;*/
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.header__logo:hover {
    border: 2px solid rgb(247, 194, 20);
}

@media screen and (max-width: 500px) {
    .header__logo  {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 400px) {
    .header__logo  {
        width: 70px;
        height: 70px;
    }
}


.header__main-illustration {
    width: 800px;
    height: 800px;
    position: absolute;
    top: -100px;
    right: 0;
    z-index: 2;
}

@media screen and (max-width: 1050px) {
    .header__main-illustration  {
        top:-100px;
        width: 600px;
        height: 600px;
    }
} 

@media screen and (max-width: 650px) {
    .header__main-illustration  {
        width: 550px;
        height: 550px;
    }
} 

@media screen and (max-width: 600px) {
    .header__main-illustration  {
        width: 450px;
        height: 450px;
    }
} 

@media screen and (max-width: 500px) {
    .header__main-illustration  {
        width: 400px;
        height: 400px;
    }
} 

@media screen and (max-width: 450px) {
    .header__main-illustration  {
        width: 300px;
        height: 300px;

    }
} 

@media screen and (max-width: 440px) {
    .header__main-illustration  {
        top: 50px;

    }
} 

.header__contacts-container {
    margin-right: 20px;
    border-bottom: 5px solid #fff;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #f2f2f2;
}

.header__contacts-container-ul {
  padding: 0;
}

.header__vector-illustration {
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.header__contacts {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}

.header__logo-text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;

}

.header__contacts-span { 
    color: rgb(42, 143, 244);
    font-size: 20px;
}

.header__contacts-span:hover {

    color: rgb(14, 61, 108);
    transition: all 1s ;
}


.header__pattern-illustrarion {
    background-image: url(../../../static/images/pattern.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;

}

.header__contacts-nav-container {
    display: flex;
    margin-right: 20px;
}

.header__contacts-container-li {
    margin-right: 20px;

}

.header__contacts-container-li-mail {
    cursor: pointer;
    display: flex;
    align-items: center;

}

.header__contacts-nav-bin {
    width: 200px;
    height: 40px;
    background-color: rgb(251, 219, 115);
    /*border: 2px solid rgb(42, 143, 244);*/
    border: 1px solid rgb(234, 188, 37);
    border-radius: 40px;
    color: #212529;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1s ease-out;
    font-weight: 400;
}


@media screen and (max-width: 800px) {
    .header__contacts-nav-bin {
        width: 200px;
        font-size: 18px;
        margin-right: 30px;
        margin-top: 200px;
    }
}

@media screen and (max-width: 600px) {
    .header__contacts-nav-bin {
        width: 200px;
        height: 40px;
        font-size: 18px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 430px) {
    .header__contacts-nav-bin {
        width: 150px;
        height: 40px;
        font-size: 14px;
        margin-right: 20px;
    }
}

.header__contacts-nav-bin:hover {
    background-color: rgb(247, 194, 20);
    -webkit-box-shadow: 19px 15px 22px -8px rgba(34, 60, 80, 0.23);
    -moz-box-shadow: 19px 15px 22px -8px rgba(34, 60, 80, 0.23);
    box-shadow: 19px 15px 22px -8px rgba(34, 60, 80, 0.23);
    transition: all 1s ;
    width: 202px;
    height: 42px;
}

.header__contacts-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}

.header__contacts-btn {
   
   border: 1px solid #fff;
   background-color: transparent;
   display: flex;
   width: 250px;
   height: 40px;
   border-radius: 40px;
   margin: 0;
   margin-right: 30px;
   align-items: center;
   justify-content: center;
   transition: all 1s ;
}

.header__contacts-btn:hover {
    color:#292d30;
    background-color: #fff;
    -webkit-box-shadow: 19px 15px 22px -8px rgba(34, 60, 80, 0.23);
    -moz-box-shadow: 19px 15px 22px -8px rgba(34, 60, 80, 0.23);
    box-shadow: 19px 15px 22px -8px rgba(34, 60, 80, 0.23);
    transition: all 1s ;
}

.header__contacts-btn-span {
    color: rgb(42, 143, 244);
}

.header__icon-marg {
    margin-right: 10px;
}