.product__detail-wrapper {
    border: 5px solid orange;
    border-radius: 15px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}


@media screen and (max-width: 700px) {
  .product__detail-wrapper  {
      flex-direction: column;
      height: 550px;
      margin: auto;
      margin-bottom: 30px;
      justify-content: start;
  }
}

.equipment__img {
  width: 210px;
  height: 210px;
  object-fit: contain;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .equipment__img  {
      width: 100%;
  }
}

.product__detail-wrapper:hover {
    background-color: rgb(247, 204, 94);
} 

.product__img-desc-container {
    border: 5px solid blueviolet;
}

.back__button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: #f8dc80;
  border: 1px solid rgb(247, 194, 20);
  cursor: pointer;
  box-shadow: 5px 2px 2px rgb(247, 194, 20);
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back__button:hover {
  border: #f8dc80;
  background-color: 1px solid rgb(247, 194, 20);
}

.detail__container {

}

.product__detail-item-description-text {
  margin: 0;

  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */

  text-overflow: ellipsis;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.product__detail-item-description {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */

  text-overflow: ellipsis;

  width: 80%;
  height: 100%;
}