.product__detail-wrapper {
    border: 5px solid orange;
    border-radius: 15px;
    max-width: 1600px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    display: flex;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}


@media screen and (max-width: 700px) {
  .product__detail-wrapper  {
      flex-direction: column;
      height: 550px;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 30px;
      justify-content: start;
  }
}

@media screen and (max-width: 500px) {
  .product__detail-wrapper  {
    margin-left: 10px;
    margin-right: 10px;
  }
}




.detail__container {

}

.product__detail-item-description-text {
  margin: 0;

  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */

  text-overflow: ellipsis;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.product__detail-item-description {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */

  text-overflow: ellipsis;

  width: 80%;
  height: 100%;
}
.product__detail-container {
  display: flex;
}

.product__detail__img-container {
  width: 300px;
  height: 300px;
  margin: 30px;
}
.product__detail__img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .product__detail__img  {
      width: 100%;
  }
}

