.services-general {
  background-color: #fff;
  /*border-bottom: 2px solid rgb(247, 194, 20);*/
}


.services-general__cards {
  margin-left: 150px;
  margin-right: 150px;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
    .services-general__cards  {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 600px) {
    .services-general__cards  {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.services-general__card {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  background-image: url(../../../static/images/pattern.png);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width: 600px) {
    .services-general__card  {
        flex-direction: column;
        height: 500px;
    }
}

.services-general__card-img-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  border-radius: 20px;
  
}

@media screen and (max-width: 600px) {
    .services-general__card-img-container {
        width: 100%;
    }
}

.services-general__card-img {
  margin: auto;
  display: flex;
  object-fit: cover;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
  max-height: 170px;
}

.services-general__card-img-title {
    
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
}
    
.services-general__card-text-container {
    border-radius: 20px;
    
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-color: #f2f2f2;
    background-image: url(../../../static/images/pattern.png);
    /*background-image: url(../../../static/images/background.jpg);*/

    width: 70%;
    padding-left: 50px;
}

@media screen and (max-width: 600px) {
    .services-general__card-text-container {
        width: 100%;
    }
}

.services-general__card-text-title {
  font-size: 20px;
}

.services-general__card-text-ul {
    padding: 0;
}

.services-general__card-text-li {
  margin-bottom: 15px;
}

.services-general__card-btn {
    width: 200px;
    height: 55px;
    background-color: #f8dc80;
    border: 1px solid rgb(247, 194, 20);
    border-radius: 40px;
    color: #212529;
    cursor: pointer;
   
    margin-top: 20px;
    font-size: 16px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.services-general__card-btn:hover {
    background-color: rgb(247, 194, 20);
    border: 1px solid #f8dc80;
}

.services-general__card-add-btn {
    border: none;
    border-radius: 15px;
    /*width: 300px;*/
    margin-left: 100px;
    margin-right: 100px;
    max-width: 100%;
    height: 55px;
    /*margin: auto;*/
    margin-top: 80px;
    margin-bottom: 50px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;

  }

  .services-general__card-add-btn:hover {
    opacity: 0.7;
    height: 57px;
  }