{% extends 'lenivastore/base.html' %}

{% load static %}

{% block title %}
О нас
{% endblock %}

{% block content %}
  <div class="about_page">
    <h3 class="page_title">О нас</h3>
    <h4>
      Центр автоматизации «АИСТ»
    </h4>
    <div>
      <p>
        Автоматизация. Информационные Системы. Технологии.
      </p>
      <p>Наша компания – это сплоченный коллектив специалистов высшего уровня!</p>  
      <p>Мы занимаемся консультированием в нескольких областях, таких как автоматизация оптовой и розничной торговли, автоматизация учета производственных процессов, складского учета, в области бухгалтерского и налогового учета.</p> 
      <p>Консультируем в области права и оказываем юридические услуги. 
      <p>Проводим аудит бухгалтерского и налогового учета.</p> 
Наша компания имеет большой опыт по разработке, доработке и внедрению товароучетного программного обеспечения 
на базе прикладный решений фирмы 1С. От небольших магазинчиков в спальных районах до сетевых передовиков розничной 
торговли; автоматизация учета оптовых торговых компаний; бухгалтерского и налогового учета. Предоставляем услуги 
по ведению бухгалтерского и налогового учета и подготовке отчетности.
За последние несколько лет получили огромный опыт в области Государственных систем: Единая национальная система 
маркировки товаров «Честный знак»; Система Россельхознадзора ФГИС «Меркурий»; Система контроля по обороту алкогольной 
продукции Росалкогольрегулирования «ЕГАИС». Оказываем услуги по регистрации в этих системах, по интеграции учетных систем с ними. 
Предоставляем услуги по ведению учета операций в этих системах и подготовке необходимой отчетности.
Так же начиная с 2018 года занимаемся подбором и поставкой торгового оборудования, контрольно-кассовой техники. Оказываем услуги 
по регистрации и перерегистрации контрольно-кассовой техники. Осуществляем поставку программ 1С:Предприятие, их установку и настройку. 
Предоставляем услуги по подключению и продлению услуг ОФД (Оператор фискальных данных), выпуску ЭЦП (Электронная цифровая подпись). 
Мы всегда держим руку на пульсе в вопросе изменения законодательства, и всегда предоставим качественные юридические услуги в области 
гражданского права: банкротство, гражданские иски.
Наши специалисты всегда готовы не просто послушать, а именно услышать Вас, понять и изучить все Ваши потребности, и в кратчайшие сроки 
подготовить оптимальное решение для Вас!

      </p>
      <p>Наш главный лозунг – долгосрочные отношения на взаимовыгодных условиях!</p>
    </div>
  </div>
{% endblock %}

<!--
Консалтинговое агентство «АИСТ»
Автоматизация. Информационные Системы. Технологии

            Наша компания – это сплоченный коллектив специалистов высшего уровня!
Мы занимаемся консультированием в нескольких областях, таких как автоматизация оптовой и розничной торговли, автоматизация учета производственных процессов, складского учета, в области бухгалтерского и налогового учета. Консультируем в области права и оказываем юридические услуги. Проводим аудит бухгалтерского и налогового учета. 
Наша компания имеет большой опыт по разработке, доработке и внедрению товароучетного программного обеспечения на базе прикладный решений фирмы 1С. От небольших магазинчиков в спальных районах до сетевых передовиков розничной торговли; автоматизация учета оптовых торговых компаний; бухгалтерского и налогового учета. Предоставляем услуги по ведению бухгалтерского и налогового учета и подготовке отчетности.
За последние несколько лет получили огромный опыт в области Государственных систем: Единая национальная система маркировки товаров «Честный знак»; Система Россельхознадзора ФГИС «Меркурий»; Система контроля по обороту алкогольной продукции Росалкогольрегулирования «ЕГАИС». Оказываем услуги по регистрации в этих системах, по интеграции учетных систем с ними. Предоставляем услуги по ведению учета операций в этих системах и подготовке необходимой отчетности.
Так же начиная с 2018 года занимаемся подбором и поставкой торгового оборудования, контрольно-кассовой техники. Оказываем услуги по регистрации и перерегистрации контрольно-кассовой техники. Осуществляем поставку программ 1С:Предприятие, их установку и настройку. Предоставляем услуги по подключению и продлению услуг ОФД (Оператор фискальных данных), выпуску ЭЦП (Электронная цифровая подпись). 
Мы всегда держим руку на пульсе в вопросе изменения законодательства, и всегда предоставим качественные юридические услуги в области гражданского права: банкротство, гражданские иски.
Наши специалисты всегда готовы не просто послушать, а именно услышать Вас, понять и изучить все Ваши потребности, и в кратчайшие сроки подготовить оптимальное решение для Вас!
Наш главный лозунг – долгосрочные отношения на взаимовыгодных условиях!

-->