{% extends 'lenivastore/base.html' %}

{% load static %}

{% block title %}
Аист
{% endblock %}

{% block content %}

<div>
  
<section class="header__top-container">

  <div class="header__vector-illustration"></div>
  <div class="header__title-container">
    <h1 class="header__title">Автоматизация. Информационные Системы. <br>Технологии</h1>
    <div class="header__btn-container">
      <a class="header__button" href="{% url 'lenivastore:product_list_by_category' 'uslugi' %}">Перейти к выбору услуг</a>
      <a class="header__button" href="{% url 'lenivastore:product_list_by_category' 'oborudovanie'%}">Перейти к выбору оборудования</a>
    </div>
  </div>
  <img src=../../../../static/images/hederpicture.png alt="Картинка" class="header__main-illustration">
  <div class="header__pattern-illustrarion"></div>

</section>

<!--<section class="services" id="services">
  <h2 class="services__title">Что мы предлагаем?</h2>

  <ul class="services-cards">
    <li class="services-cards__item">
      <img src=../../../../static/images/pink.png alt="Картинка" class="services-cards__image">
      <h3 class="services-cards__title">Консультирование</h3>
      <ul class="services-cards__inside-item">
        <li class="services-cards__description">
          Автоматизация оптовой и розничной торговли
        </li>
        <li class="services-cards__description">
          Автоматизация учета производственных процессов
        </li>
        <li class="services-cards__description">
          Автоматизация складского учета, в области бухгалтерского и налогового учета
        </li>
        <li class="services-cards__description">
          Консультируем в области права
        </li>
      </ul>
      <div class="services-cards__link">Посмотреть все услуги →</div>
    </li>

    <li class="services-cards__item">
      <img src=../../../../static/images/blue.png alt="Картинка" class="services-cards__image">
      <h3 class="services-cards__title">Услуги</h3>
      <ul class="services-cards__inside-item">
        <li class="services-cards__description">Ведению бухгалтерского и налогового учета</li>
        <li class="services-cards__description">Юридические услуги</li>
        <li class="services-cards__description">Аудит бухгалтерского и налогового учета</li>
        <li class="services-cards__description">Услуги ПО</li>
        <li class="services-cards__description">Подключению и продлению услуг ОФД</li>
      </ul>
      <div class="services-cards__link">Посмотреть все услуги →</div>
    </li>

    <li class="services-cards__item">
      <img src=../../../../static/images/yellow.png alt="Картинка" class="services-cards__image">
      <h3 class="services-cards__title">Подбор и поставка</h3>
      <ul class="services-cards__inside-item">
        <li class="services-cards__description">Торгового оборудования</li>
        <li class="services-cards__description">Контрольно-кассовой техники</li>
        <li class="services-cards__description">Программ 1С:Предприятие, их установка и настройка</li>
      </ul>
      <div class="services-cards__link">Посмотреть все услуги →</div>
    </li>
  </ul>
</section>-->
<section class="services-general">
  <h2 class="services__title">Что мы предлагаем?</h2>
  <ul class="services-general__cards">

    <li class="services-general__card">
      <div class="services-general__card-img-container">
        <img src=../../../../static/images/CZ.png alt="Картинка" class="services-general__card-img">
        <p class="services-general__card-img-title">Единая национальная система маркировки товаров «Честный знак»</p>
      </div>
      <div class="services-general__card-text-container">
        <h3 class="services-general__card-text-title">Как мы можем вам помочь?</h3>
        <ul class="services-general__card-text-ul">
          <li class="services-general__card-text-li">Pегистрации в системе</li>
          <li class="services-general__card-text-li">Подключение, настройка ЭДО</li>
          <li class="services-general__card-text-li">Настройка маркировки у клиента, сопровождение6 ведение учета</li>
        </ul>
        <button class="services-general__card-btn">Посмотреть подробности</button>
      </div>
    </li>

    <li class="services-general__card">
      <div class="services-general__card-img-container">
        <img src=../../../../static/images/rutoken.png alt="Картинка" class="services-general__card-img">
        <p class="services-general__card-img-title">ЕЦП</p>
      </div>
      <div class="services-general__card-text-container">
        <h3 class="services-general__card-text-title">Как мы можем вам помочь?</h3>
        <ul class="services-general__card-text-ul">
          <li class="services-general__card-text-li">Pегистрации в системе</li>
          <li class="services-general__card-text-li">Интеграция учетных систем</li>
          <li class="services-general__card-text-li">Услуги по ведению учета операций</li>
          <li class="services-general__card-text-li">Подготовка необходимой отчетности</li>
        </ul>
        <button class="services-general__card-btn">Посмотреть подробности</button>
      </div>
    </li>
    <li class="services-general__card">
      <div class="services-general__card-img-container">
        <img src=../../../../static/images/mercuri.jpeg alt="Картинка" class="services-general__card-img">
        <p class="services-general__card-img-title">ФГИС. Меркурий (РОССЕЛЬХОЗНАДЗОР)</p>
      </div>
      <div class="services-general__card-text-container">
        <h3 class="services-general__card-text-title">Как мы можем вам помочь?</h3>
        <ul class="services-general__card-text-ul">
          <li class="services-general__card-text-li">Pегистрации в системе МЕРКУРИЙ</li>
          <li class="services-general__card-text-li">Настройка системы у клиента</li>
          <li class="services-general__card-text-li">Услуги по ведению учета и гашению ВСД</li>
        </ul>
        <button class="services-general__card-btn">Посмотреть подробности</button>
      </div>
    </li>

    <li class="services-general__card">
      <div class="services-general__card-img-container">
        <img src=../../../../static/images/cloud.jpeg alt="Картинка" class="services-general__card-img">
        <p class="services-general__card-img-title">Онлайн-касса</p>
      </div>
      <div class="services-general__card-text-container">
        <h3 class="services-general__card-text-title">Как мы можем вам помочь?</h3>
        <ul class="services-general__card-text-ul">
          <li class="services-general__card-text-li">Поставка кассовых аппаратов и торгового оборудования</li>
          <li class="services-general__card-text-li">Регистрация, замена ФН, перегистрация </li>
          <li class="services-general__card-text-li">Подключение и продление ОФД</li>
          <li class="services-general__card-text-li">Подключение к товароучетным системам</li>
        </ul>
        <button class="services-general__card-btn">Посмотреть подробности</button>
      </div>
    </li>

    <li class="services-general__card">
      <div class="services-general__card-img-container">
        <img src=../../../../static/images/egais.jpeg alt="Картинка" class="services-general__card-img">
        <p class="services-general__card-img-title">ЕГАИС (Все виды алкогольной продукции)</p>
      </div>
      <div class="services-general__card-text-container">
        <h3 class="services-general__card-text-title">Как мы можем вам помочь?</h3>
        <ul class="services-general__card-text-ul">
          <li class="services-general__card-text-li">Выпуск ЭЦП УГАИС</li>
          <li class="services-general__card-text-li">Установка и настройка УТМ ЕГАИС</li>
          <li class="services-general__card-text-li">Ведение учета, как слабоалкогольной продукции так и крепкого алкоголя</li>
          <li class="services-general__card-text-li">Проверка соответствия минимальных цен, подготовка ревизий и отчетов для Росалкогольрегулирования</li>
        </ul>
        <button class="services-general__card-btn">Посмотреть подробности</button>
      </div>
    </li>

    <li class="services-general__card">
      <div class="services-general__card-img-container">
        <img src=../../../../static/images/1c.png alt="Картинка" class="services-general__card-img">
        <p class="services-general__card-img-title">1С: Предприятие</p>
      </div>
      <div class="services-general__card-text-container">
        <h3 class="services-general__card-text-title">Как мы можем вам помочь?</h3>
        <ul class="services-general__card-text-ul">
          <li class="services-general__card-text-li">Выпуск ЭЦП УГАИС</li>
          <li class="services-general__card-text-li">Установка и настройка УТМ ЕГАИС</li>
          <li class="services-general__card-text-li">Ведение учета, как слабоалкогольной продукции так и крепкого алкоголя</li>
          <li class="services-general__card-text-li">Проверка соответствия минимальных цен, подготовка ревизий и отчетов для Росалкогольрегулирования</li>
        </ul>
        <button class="services-general__card-btn">Посмотреть подробности</button>
      </div>
    </li>
  </ul>
  
  <a class="services-general__card-add-btn" href="{% url 'lenivastore:product_list_by_category' 'uslugi' %}">
    Посмотреть все услуги
  </a>

</section>
<section id="about" class="about">
  <h2 class="about__title">О компании</h2>
  
  <!--<p class="about__name-company">Центр автоматизации «АИСТ»</p>-->

    <div class="about__text-container">
      <img class="about__about-img" src=../../../../static/images/aboutpic.png alt="Картинка">  
    <p class="about__text">Наша компания – это сплоченный коллектив специалистов высшего уровня! 
      Наша компания имеет большой опыт по разработке, доработке и внедрению товароучетного программного обеспечения на 
      базе прикладный решений фирмы 1С. От небольших магазинчиков в спальных районах до сетевых передовиков розничной торговли; 
      Наши специалисты всегда готовы не просто послушать, а именно услышать Вас, понять и изучить все Ваши потребности, 
      и в кратчайшие сроки подготовить оптимальное решение для Вас!
      Наш главный лозунг – "Долгосрочные отношения на взаимовыгодных условиях!"
    </p>
    </div>
  
    <h2 class="about__members-title">Наша компания – это сплоченный коллектив специалистов высшего уровня</h2>
    <ul class="cards">
      <li class="cards__item">
        <img src=../../../../static/images/cards-attention.png alt="Картинка" class="cards__image">
        <h3 class="cards__title">Иванов Андрей</h3>
        <p class="cards__description">Генеральный директор</p>
      </li>

      <li class="cards__item">
        <img src=../../../../static/images/cards-recall.png alt="Картинка" class="cards__image">
        <h3 class="cards__title">Кац Карина</h3>
        <p class="cards__description">Главный разработчик</p>
      </li>

      <li class="cards__item">
        <img src=../../../../static/images/cards-interliving.png alt="Картинка" class="cards__image">
        <h3 class="cards__title">Артемов Кирилл</h3>
        <p class="cards__description">Советник</p>
      </li>
    </ul>
    
</section>

  <!--
  <section class="about-quote">
    <h2 class="about__members-title">"Мы- специалисты, которые помогают предпринимателям решать сложные задачи по внедрению и обслуживанию различных решений на базе 1С."</h2>
  </section>-->
<!--
  <section class="equipment" id="equipment">
    <h2 class="equipment__title">Оборудование</h2>
    <ul class="equipment__container">
      <li class="equipment__item">
        <a>
          <img class="equipment__img" src="../../../../static/images/machine.jpg" alt="Картинка">
        </a>  
        <div class="equipment__description-container">
          <p class="equipment__item-title">Касса E6789HR</p>
          <p class="equipment__item-description">Банковские терминалы для принятия безналичных платежей 
            ingenico. Функциональное компактное устройство (мобильный или стационарный пин-пад).
          </p>
          <p>Цена: <span class="equipment__price">5 000 р.</span></p>
          <a class="equipment__link" >Посмотреть детали →</a>
          <div class="equipment__bin-container">
            <p class="equipment__link-add">Добавить в корзину</p>
            <div class="equipment__bin"></div>
          </div>

      </li>
      <li class="equipment__item">
        <a>
          <img class="equipment__img" src="../../../../static/images/mahegy.jpg" alt="Картинка">
        </a>
        <div class="equipment__description-container">
          <p class="equipment__item-title">Ресивер E6789HR</p>
          <p class="equipment__item-description">Банковские 
            терминалы для принятия безналичных платежей ingenico. 
            Функциональное компактное устройство (мобильный или стационарный пин-пад).
          </p>
          <p>Цена: <span class="equipment__price">2 100 р.</span></p>
          <a class="equipment__link" >Посмотреть детали →</a>
          <div class="equipment__bin-container">
            <p class="equipment__link-add">Добавить в корзину</p>
            <div class="equipment__bin"></div>
          </div>

        </div>  
      </li>
      <li class="equipment__item">
        <a>
          <img class="equipment__img" src="../../../../static/images/paycard.jpg" alt="Картинка">
        </a> 
        <div class="equipment__description-container">
          <p class="equipment__item-title">Портативная касса E6789HR</p>
          <p class="equipment__item-description">Банковские терминалы для принятия безналичных платежей 
            ingenico. Функциональное компактное устройство (мобильный или стационарный пин-пад).
          </p>
          <p>Цена: <span class="equipment__price">3 800 р.</span></p>
          <a class="equipment__link" >Посмотреть детали →</a>
          <div class="equipment__bin-container">
            <p class="equipment__link-add">Добавить в корзину</p>
            <div class="equipment__bin"></div>
          </div>

        </div> 
      </li>
    </ul>
  </section>-->



  <section id="news" class="news">
    <h2 class="news__title">Новости ФНС и маркировки</h2>
    <div class="news__cards">

    {% for new in news %}
    <div class="news__card">
      <img class="news__card-img" src="{% if new.image %}{{ new.image.url }}{% else %}
      {% static 'images/no-image.jpeg'%}{% endif %}" alt="Фото новости">
      <a class="news__card-title" href="{{new.link }}">
          {{ new.title}} →
      </a>
    </div>
    {% endfor %}

    <!--
      <div class="news__card">
        <img class="news__card-img" src=../../../../static/images/newspaper.jpg alt="Картинка">
        <p class="news__card-title">Заявительный порядок предоставления налоговых льгот по транспортному и земельному налогам организаций →</p>
      </div>
      <div class="news__card">
        <img class="news__card-img" src=../../../../static/images/news.jpg alt="Картинка">
        <p class="news__card-title">До 1 марта налоговые органы проведут индивидуальные сверки по ЕНС с налогоплательщиками →</p>
        
      </div>
      <div class="news__card">
        <img class="news__card-img" src=../../../../static/images/menread.jpg alt="Картинка">
        <p class="news__card-title">В Управе Выхино-Жулебино состоялся семинар для представителей малого и среднего бизнеса →</p>

      </div>
      <div class="news__card">
        <img class="news__card-img" src=../../../../static/images/tel.jpg alt="Картинка">
        <p class="news__card-title">Расширен перечень операций, освобождаемых от налогообложения налогом на добавленную стоимость →</p>
       
      </div>
      <div class="news__card">
        <img class="news__card-img" src=../../../../static/images/codex.jpeg alt="Картинка">
        <p class="news__card-title">Порядок заполнения платежных документов в условиях работы ЕНС →</p>
        
      </div>
      <div class="news__card">
        <img class="news__card-img" src=../../../../static/images/fns.jpg alt="Картинка">
        <p class="news__card-title">Cеминар в ПАО «Центр Международной Торговли» →</p>
        
      </div>
      -->
    </div>

  </section>

  
<!--
  <section className='backform'>
    <form className='backform__form' onSubmit={handleSubmit(onSubmit)}>
      <h2 className='backform__title'>Обратная связь</h2>
      <p className='backform__sub-title'>Заполните короткую форму и специалист свяжется с Вами в ближайшее время</p>
      <fieldset className='backform__fieldset'>
        <label  className='backform__inputname'>Имя
          <input className='backform__input'
               
               defaultValue=""
          />
        </label>

        <label className='backform__inputname'>Телефон для связи
          <input className='backform__input'
               maxLength="12"
               defaultValue=""
          />
        </label>
        <label className='backform__inputname'>Тема обращения
          <input className='backform__input'
               maxLength="8"
               defaultValue=""
          />
        </label>
      </fieldset>

      <button type='submit'>Отправить запрос на обратную связь</button>

    </form>
  </section>
--> 
</div>  
{% endblock %}

<!--
Консалтинговое агентство «АИСТ»
Автоматизация. Информационные Системы. Технологии

            Наша компания – это сплоченный коллектив специалистов высшего уровня!
Мы занимаемся консультированием в нескольких областях, таких как автоматизация оптовой и розничной торговли, автоматизация учета производственных процессов, складского учета, в области бухгалтерского и налогового учета. Консультируем в области права и оказываем юридические услуги. Проводим аудит бухгалтерского и налогового учета. 
Наша компания имеет большой опыт по разработке, доработке и внедрению товароучетного программного обеспечения на базе прикладный решений фирмы 1С. От небольших магазинчиков в спальных районах до сетевых передовиков розничной торговли; автоматизация учета оптовых торговых компаний; бухгалтерского и налогового учета. Предоставляем услуги по ведению бухгалтерского и налогового учета и подготовке отчетности.
За последние несколько лет получили огромный опыт в области Государственных систем: Единая национальная система маркировки товаров «Честный знак»; Система Россельхознадзора ФГИС «Меркурий»; Система контроля по обороту алкогольной продукции Росалкогольрегулирования «ЕГАИС». Оказываем услуги по регистрации в этих системах, по интеграции учетных систем с ними. Предоставляем услуги по ведению учета операций в этих системах и подготовке необходимой отчетности.
Так же начиная с 2018 года занимаемся подбором и поставкой торгового оборудования, контрольно-кассовой техники. Оказываем услуги по регистрации и перерегистрации контрольно-кассовой техники. Осуществляем поставку программ 1С:Предприятие, их установку и настройку. Предоставляем услуги по подключению и продлению услуг ОФД (Оператор фискальных данных), выпуску ЭЦП (Электронная цифровая подпись). 
Мы всегда держим руку на пульсе в вопросе изменения законодательства, и всегда предоставим качественные юридические услуги в области гражданского права: банкротство, гражданские иски.
Наши специалисты всегда готовы не просто послушать, а именно услышать Вас, понять и изучить все Ваши потребности, и в кратчайшие сроки подготовить оптимальное решение для Вас!
Наш главный лозунг – долгосрочные отношения на взаимовыгодных условиях!



<span class="header__title-span">1С:Предприятие</span>
-->
