{% extends 'lenivastore/base.html' %}

{% load static %}

{% block title %}
  {% if category %} {{ category.name }} {% else %} Страница товаров {% endif %}
{% endblock %}

{% block content %}
<section class="equipment" id="equipment">
  <!--<div class="back__button">
    <a href="{{request.META.HTTP_REFERER}}">Назад</a>
  </div>-->

  <h2 class="equipment__title">{% if category %}{{ category.name }}{% else %}Наши предложения:{% endif %}</h2>

  <ul class="equipment__container">
    {% for product in page_object.object_list %}
    <li class="equipment__item">
      <a class="equipment__img-container" href="{{ product.get_absolute_url }}?next={{request.path}}">
        <img class="equipment__img" src="{% if product.image %}{{ product.image.url }}{% else %}
        {% static 'images/no-image.jpeg'%}{% endif %}" alt="Фото товара">
      </a>  

      <div class="equipment__description-container">

        <p class="equipment__item-title">{{ product.name }}</p>

        <!--<div class="equipment__item-description"></div>-->
          <p class="equipment__item-description">{{ product.description }}</p> <!-- | linebreaks-->
        
        

        <p class="equipment__price-name">Цена: <span class="equipment__price">{{ product.price|floatformat:"0" }} ₽</span></p>

        <a class="equipment__link" href="{{ product.get_absolute_url }}?next={{request.path}}">Посмотреть детали →</a>
      </div>

        <form 
          class="equipment__bin-container" 
          action="{% url 'cart:cart_add' product.id %}" 
          method="post">
            {{ cart_product_form|join:"" }}
            {% csrf_token %}
            <button class="equipment__link-add" type="submit" value="Добавить в корзину">Добавить в корзину</button>
      <!--   <input class="equipment__link-add" type="submit" value="Добавить в корзину">-->
        </form>

    </li>
    {% endfor %}
  </ul>
  <div class="pagination">
    {% if is_paginated %}
      {% if page_object.has_previous %}
        <a class="first_page" href="?page=1">Первая</a>
        <a class="prev_page" href="?page={{ page_object.previous_page_number }}">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
      {% endif %}

      {% for num in page_object.paginator.page_range %}
        {% if page_object.number == num %}
          <a class="nums_page selected_page" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_object.number|add:'-3' and num < page_object.number|add:'3' %}
          <a class="nums_page" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_object.has_next %}
        <a class="next_page" href="?page={{ page_object.next_page_number }}">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        <a class="last_page" href="?page={{ page_object.paginator.num_pages }}">Последняя</a>
      {% endif %}
    {% endif %}
  </div>
</section>
<!--
  <h3 class="page_title">
    {% if category %}{{ category.name }}{% else %}Товары{% endif %}
  </h3>
  <div class="card_list_wrapper">
    <div class="cards">
      {% for product in page_object.object_list %}
        <div class="card_item">
          <div class="card_image_container">
            <a href="{{ product.get_absolute_url }}">
              <img src="{% if product.image %}{{ product.image.url }}{% else %}
              {% static 'images/no-image.jpeg'%}{% endif %}">
            </a>
          </div>

          <div class="card_content">
            <div class="card_title">
              <a class="text-medium" href="{{ product.get_absolute_url }}?next={{request.path}}">
                {{ product.name }}
              </a>
            </div>
          </div>

          <div class="card_info">
            <p class="card_price text-medium">{{ product.price }} руб.</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="pagination">
    {% if is_paginated %}
      {% if page_object.has_previous %}
        <a class="first_page" href="?page=1">Первая</a>
        <a class="prev_page" href="?page={{ page_object.previous_page_number }}">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
      {% endif %}

      {% for num in page_object.paginator.page_range %}
        {% if page_object.number == num %}
          <a class="nums_page selected_page" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_object.number|add:'-3' and num < page_object.number|add:'3' %}
          <a class="nums_page" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_object.has_next %}
        <a class="next_page" href="?page={{ page_object.next_page_number }}">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        <a class="last_page" href="?page={{ page_object.paginator.num_pages }}">Последняя</a>
      {% endif %}
    {% endif %}
  </div>-->
{% endblock %}
